/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.logo-container img {
    height: 50px; /* Adjust size of the logo */
}

.main-title {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5rem;
}

.select-container {
    margin-right: 1rem;
}

main {
    display: flex;
    flex: 1;
}


aside {
    background-color: #222; 
    color: #fff; 
    width: 250px; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 0.5em; 
    font-size: 1.1em; 
}

nav ul li a, nav ul li span {
    display: block;
    padding: 10px 15px; 
    color: #ccc; 
    text-decoration: none;
    transition: all 0.3s ease;
}

nav ul li a:hover, nav ul li a:focus, nav ul li span:hover, nav ul li span:focus {
    background-color: #333;
    cursor: pointer; 
    color: #fff; 
    border-left: 5px solid #5cb85c;
}

#content {
    padding: 1rem;
    flex-grow: 1;
}

.chartButton, .annotationsButton{
    background-color: #ccc;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

/* Green background color for selected button */
.green-background {
    background-color: green;
}

.chartButton.active {
    background-color: #4CAF50;
    color: white;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer img {
    position: relative;
    height: 40px;
    border-radius: 50%;
    right: -650px;
}

/* Slide-in animation for messages */
@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Custom styles for the dropdown and flag icons */
.selected-flag {
    margin-right: 0.5rem;
    font-size: 20px;
}

.select-container {
    position: relative;
    font-family: 'Arial', sans-serif;
}

.custom-select {
    background-color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-right: 0.5rem;
    cursor: pointer;
    width: 200px;
    position: relative;
}

.custom-select::after {
    content: '▼';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    pointer-events: none;
}

.custom-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #333;
    border: 2px solid #fff;
    z-index: 999;
    border-radius: 0 0 4px 4px;
}

.custom-options div {
    padding: 10px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.2s;
}

.custom-options div:hover {
    background-color: #333;
    cursor: pointer; 
    color: #fff; 
    border-left: 5px solid #5cb85c;
}


/* Flag code */
/* Ensure custom select options and the current option have enough space for the flag images */
.custom-select .current-option, .custom-options div {
    display: flex;
    align-items: center;
}

/* Style for the flag images */
.custom-select img {
    margin-left: 5px; /* Add a little space between the flag and the country name */
    width: 20px; /* Control the width of the image */
    height: auto; /* Ensure the aspect ratio of the flag is maintained */
}

/* Adjust padding and height of the options to ensure visual consistency */
.custom-options div {
    padding: 10px;
    min-height: 40px; /* Adjust based on the actual size of your flags to prevent distortion */
}

/* Hover state for options with images */
.custom-options div:hover {
    padding-left: 15px; /* Adjust padding to accommodate the border change on hover */
}
